.form-card-wrapper .q-card{
    width: 47rem;
    border: 1px solid rgba(109, 83, 132, 0.2);
    border-radius: 5px  ;
    padding: 2rem 1.5rem;
    /* box-shadow: rgba(109, 83, 132, 0.2) 0px 8px 24px; */
    box-shadow: rgba(109, 83, 132, 0.127) 0px 8px 24px;
}


.form-card-wrapper .q-n-type{
    width: 100%;
}

.form-card-wrapper .q-input{
    width: 95%;
}

.form-card-wrapper .q-input input{
    width: 100%;
}

.form-card-wrapper .input-padding{
    padding: 0.3rem 0.4rem;
}

.form-card-wrapper input, .form-card-wrapper textarea{
    outline: none;
}

/* .form-card-wrapper .MuiInputBase-root.MuiOutlinedInput-root{
    background-color: #85858535;
    color: white;
} */